body {
    background: rgb(2, 0, 36);
    background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(9, 121, 110, 1) 34%,
        rgba(0, 212, 255, 1) 100%
    );
    overflow: hidden;
}

.main-container {
    display: flex;
    flex-direction: row;
    width: 70vw;
    margin: 0 auto;
}

.info-panel {
    width: 30vw;
    height: 90vh;
    border: 1px red solid;
    position: relative;
}

.canvas-container {
    width: 85vw;
    height: 90vh;
    border: 1px white solid;
}

.canvas {
    height: 820px;
    width: 820px;
    background-color: darkcyan;
    margin: 0 auto;
    margin-top: 1.5rem;
}

.all-btn {
    position: absolute;
    bottom: 0;
    text-align: center;
}

.btn-size {
    height: 50px;
    width: 160px;
    border-radius: 5px;
    box-sizing: border-box;
    line-height: 50px;
    text-align: center;
    font-size: 1.05rem;

    margin-top: 10px;
}

.small {
    background-color: chartreuse;
}
.medium {
    background-color: rgb(0, 255, 179);
}
.large {
    background-color: rgb(108, 163, 19);
}
.x-large {
    background-color: rgb(247, 0, 255);
}

h1 {
    color: white;
    text-align: center;
    font-size: 2.5rem;
}

p {
    color: white;
    text-align: center;
}

footer {
    width: 100vw;
    height: 6vh;
    border: 1px yellow solid;
}
