body {
    background: rgb(2, 0, 36);
    background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(9, 121, 110, 1) 34%,
        rgba(0, 212, 255, 1) 100%
    );
    overflow: hidden;
    box-sizing: border-box;
}

.main-container {
    display: flex;
    flex-direction: row;
    width: 70vw;
    margin: 0 auto;
}

.info-panel {
    width: 30vw;
    height: 90vh;
    border: 1px red solid;
    position: relative;
}

.canvas-container {
    width: 85vw;
    height: 90vh;
    border: 1px white solid;
}

.canvas {
    height: 820px;
    width: 820px;
    background-color: white;
    margin: 0 auto;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: content;
}

.all-btn {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    text-align: center;
    justify-content: center;
    margin-left: 27%;
}

.btn-size {
    height: 50px;
    width: 160px;
    /* if width is changed, change line-height below to match */
    line-height: 50px;
    box-sizing: border-box;
    font-size: 1.05rem;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.small {
    background-color: chartreuse;
}
.medium {
    background-color: rgb(208, 255, 0);
}
.large {
    background-color: rgb(206, 135, 138);
}
.x-large {
    background-color: rgb(247, 0, 255);
}

.small:hover,
.medium:hover,
.large:hover,
.x-large:hover {
    background-color: white;
}

h1 {
    color: white;
    text-align: center;
    font-size: 2.5rem;
}

p {
    color: white;
    text-align: center;
}

footer {
    width: 100vw;
    height: 6vh;
    border: 1px yellow solid;
    color: white;
    text-align: center;
    font-size: 0.8rem;
    position: absolute;
    bottom: 0;
}

.grid-square-16 {
    height: 51.25px;
    width: 51.25px;
    box-sizing: border-box;
}
.grid-square-32 {
    height: 25.625px;
    width: 25.625px;
    box-sizing: border-box;
}
.grid-square-64 {
    height: 12.8125px;
    width: 12.8125px;
    box-sizing: border-box;
}
.grid-square-128 {
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    height: 6.40625px;
    width: 6.40625px;
    box-sizing: border-box;
}

.grid-lines {
    border: 1px dotted black;
}

.grid-on {
    background-color: green;
}

.messages {
    text-align: center;
    margin-bottom: 50px;
    color: yellowgreen;
    font-size: 1.5rem;
    width: ;
}

.brush-colors {
    color: white;
    margin-bottom: 50px;
    font-size: 1.4rem;
    text-align: left;
}

.grid-off {
    border: 1px dotted white;
}
